@{
    ViewBag.Title = "Books with Vue.js";
}

<h2>@ViewBag.Title</h2>

<article id="app" class="row">
    <header class="col-md-4">
        <h3>{{ message }}</h3>   @*Vue mustache*@
        <nav>
            <ul class="list-group">
                <li v-for="book in books" v-on:click="fetchBookDetails(book)" :class="getBookClass(book)" style="cursor:pointer">
                    <span class="bookTitle">{{ book.title }}</span>
                </li>
            </ul>
        </nav>
    </header>
</article>

@section scripts{
    <script src="~/js/vue.js"></script>
    <script>
        var apiURL = 'https://localhost:44396/api/books/basic';

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Loading books...',
                books: null,
            },
            created: function () {
                var self = this;
                self.fetchBooks();
            },
            methods: {
                fetchBooks: function () {
                    self = this;
                    fetch(`${apiURL}`)
                        .then(res => res.json())
                        .then(function (books) {
                            books.forEach(function (book, i) {
                                book.isActive = false;
                            });
                            self.books = books;
                            self.message = 'Overview';
                        })
                        .catch(err => console.error('Fout: ' + err));
                },
                fetchBookDetails: function (book) {
                    self = this;
                    self.books.forEach(function (book2, i) { book2.isActive = false; })
                    book.isActive = true;
                },
                getBookClass: function (book) {
                    if (book.isActive) return 'list-group-item active';
                    return 'list-group-item';
                },
            }
        });
    </script>
}

