@using BookService.Lib.DTO
@model List<PublisherBasic>

<h1>Publishers</h1>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @foreach (PublisherBasic publisherBasic in Model)
            {
                <li class="list-group-item">
                    <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@publisherBasic.Id">x</a> <a asp-controller="Publishers" asp-action="Detail" asp-route-id="@publisherBasic.Id">@publisherBasic.Name</a> 
                </li>
            }
        </ul>
        <a class="btn btn-warning" asp-action="Insert">Insert</a>
    </div>
</div>

